*{
    padding: 0;
    margin: 0;
}
.user_contact {
    height: 35px;
    max-width: 1440px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: #969696;
    font-size: 12px;
    line-height: 16px;
    width: 1349px;
}
.logIn,.phone {

    display: flex;
}
.logIn img,.phone img{
    margin: 0 15px;
}

header {
    max-width: 1440px;
    align-items: center;
    display: flex;
    background: #0F0F0F;
    width: 1349px;
}
.logo {
    margin: 15px 260px 15px 235px ;
}
.nav {
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
}
.on {
    background-color: #1F1F1F;
}
.page {
    width: 150px;
}
.page p {
    padding: 23px 0;
}
.user_panel img{
    margin: 0 18px;
}

.main_content  {
    background-image: url(../images/mainBG.png);
    display: flex;
    background-size: cover;
    justify-content: center;
    flex-direction: column;
    max-width: 1440px;
    width: 1349px;
    /* width: 1349px; */
    height: 100vh;
}
.main_content img {
    width: 250px;
    height: 250px;
    margin-left: 240px;
    justify-content: center;
}
.center {
    width: 700px;
    margin: 0 auto;
}
.main_content p{
    width: 700px;
}
.description {
    text-align: center;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
}


.second_page {
    display: flex;
    max-width: 1440px;
    width: 1349px;
    
}
.titleSP {
    padding: 30px 0;
    border-bottom: 1px solid #fff ;
    /* width:40%; */
    display:inline-block;
    text-transform: uppercase;
}
.leftSP {
    background: #000000;
    height: 430px;
    width: 750px;
    text-align: center;
    color: #fff;
  
}
.product {
    margin-top: 20px;
    text-align: left;
    display: flex;
    justify-content: space-around;
    
}
.productBG {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191B1C;
    width: 190px;
    height: 200px;

}
.productBG img{
    width: 150px;
}
.p10 {
    padding: 15px 0;
}
.rightSP{
    background-image: url(../images/right.png);
    background-size: cover;
    max-width: 790px;
    width: 600px;
    height: 430px;
    display: flex;
    justify-content: center;
}
.catalog {
    margin-top: 43vh;
    width: 380px;
    justify-content: center;
    text-align: center;
}
.titleRSP {
    color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #fff ;
    /* display:inline-block; */
    text-transform: uppercase;
}
.catalog button {
    color: #fff;
    margin-top: 20px;
    border: 1px solid #fff;
    background: none;
    padding: 10px 15px;
    text-transform: uppercase;
}

/* 3page */
.third_page {
    display: flex;
    max-width: 1440px;
    width: 1349px;
}
.con{
    height: 380px;
}
.img {
    width: 600px;
    height: 380px;
}
.collectionTP {
    background: #000000;
    height: 380px;
    width: 749px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
}
.collection{
    width: 750px;
}
.p25 {
    padding: 25px;
}
.collection p{
    font-size: 14px;
}
.collection button{
    width: 250px;
    height: 40px;
    background: none;
    border: 1px solid #fff;
    color: #fff;
    text-transform: uppercase;
}

/* new_product_page */

.product_page {
    background: #000;
    justify-content: center;
    text-align: center;
    color: #fff;
    max-width: 1440px;
    width: 1349px;
}

.new_product {
    display: grid;
    justify-content: center;
    padding: 50px 0;
    grid-template-columns: 190px 190px 190px 190px;
    grid-gap: 20px;
    text-align: start;
}

/* brand_page */

.brand_page {
    background: #0F0F0F;
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 1349px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}
.partners {
    display: flex;
}
.partners img {
    width: 200px;
}


/* footer */
.p20 {
    padding: 20px 0;
}
.p010 {
    padding: 10px;
}
footer {
    background-image: url(../images/footBG.png);
    background-size: cover;
    width: 1349px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.info {
    color: #fff;
    width: 350px;
    justify-content: center;
}
.categories {
    color: #fff;
    width: 250px;
    justify-content: center;
}
.email {
    color: #fff;
    width: 330px;
    justify-content: center;
}

.categories button {
    background: #0F0F0F;
    border: none;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    margin: 5px;
}
.email input{
    background: rgba(255, 255, 255, 0.4);
    border: none;
    color: #fff;
    padding: 10px;
    outline: none;
    float: left;
    width: calc(100%-100px);
}
.email button{
    padding: 10px;
    background: #0F0F0F;
    border: none;
    color: #fff;
    width: 100px;
}
::-webkit-input-placeholder { 
    color:   #fff;
}
.foot {
    background: #0F0F0F;
    color: #fff;
    padding: 10px;
}
.foot p{
    margin-left: 180px;
}